<!DOCTYPE html>
<html lang="es">
<head>
    <title>Noticias</title>
</head>
<body>
    <h1 style="text-align: center;">ÚLTIMAS NOTICIAS EN EL MUNDO</h1>
    <img src="{{ url_for('static', filename='encabezado.jpg') }}" alt="Encabezado" style="display: block; margin: 0 auto;">
    <h2>API Vladimir Castañeda G</h2>
    <h1>Ingrese el tema de la noticia:</h1>
    <form method="post" action="/">
        <input type="text" name="tema">
        <input type="submit" value="Buscar">
    </form>

    <h1>Noticias</h1>
    {% if noticias %}
        <ul>
        {% for noticia in noticias %}
            <li>
                <h2>{{ noticia.title }}</h2>
                <p>{{ noticia.description }}</p>
                <p><a href="{{ noticia.url }}">Leer más</a></p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron noticias para este tema.</p>
    {% endif %}
</body>
</html>